 .img{
  width: 50%;
  display: flex;
  margin-left: 25%;
    
}
.contianer h2{
   display:flex ;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
} 

@import url(https://fonts.googleapis.com/css?family=Montserrat);
  /* @import url('*https://fonts.googleapis.com/css?family=Open+Sans');  

  h1 {
   font-family: 'Montserrat', sans-serif ;
  }
 p {
  font-family: 'Open Sans', sans-serif;
   text-align: justify ;
 }; */
/* .blue-bg{
   position: fixed; 
  background: url(https://live.staticflickr.com/1656/26031883676_182191d803_b.jpg);
  background-size: cover;
  background-color: #58aff6;
  bottom: 0;
 padding-bottom: 100px;
  height: 400px;
  width: 100vw;
  z-index: -1;
  overflow-x: hidden;
}
.white-bg{
  position: absolute;
   bottom: 120px; 
  background-color: #fff;
  min-height: 500px;
  margin: 210px 0px;
  width: 100vw;
   height: 100vh; 
  transform: skewY(5deg);
   z-index: -1; 
}
.content{
  position: absolute;
  bottom: 0;
  margin: 250px 10vw;
  max-width: 60vw;
  background-color: transparent;
}  
.shadow{
  box-shadow: -2px -5px 5px 0px rgba(0,0,0,0.3);
} */

